<div>
  <h3><%= @user.name %></h3>
  <%= image_tag @user.get_profile_image(100,100) %></p>
  <% if @user == current_user %>
    <p><%= link_to "プロフィール編集", edit_user_path</p>
  <% end %>
</div>

<% @users.each do |user| %>
<div>
  <h2>User info</h2>
  <%= link_to user_path(user.id) do %>
    <%= image_tag user.get_image %>
  <% end %>
  <p>投稿ユーザー画像：<%= image_tag user.get_profile_image(100,100) %></p>
  <p>ショップ名：<%= user.title %></p>
  <p>説明：<%= user.body %></p>
  <p>ユーザーネーム：<%= user.name %></p>
</div>
<% end %>